#navbarSupportedContent{
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.tah2{
  color: #ffffff;
  padding-top: 2rem !important;
  margin-bottom: 2rem !important;
  text-align: center;
}

.Lsong{
  border-radius: 2rem !important;
}

.song-box{
  margin-top: 5rem !important;
  background-color: #e7d8d83a;
}

.card{
  background-color: rgba(245, 245, 220, 0) !important;
  border-color: rgba(245, 245, 220, 0) !important;
  color: #ffffff !important;
  padding-bottom: 30px;
}

.card-text-mini{
  margin-left: 10%;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 20px;
  padding-left: 20px;
  text-size-adjust: 80%;
  overflow: hidden;
}
.figure-size{
  width: 30rem;
  white-space: nowrap;

}
figure{
  white-space: nowrap;
  width: 20rem;
}

.detail-name-music{
  text-align: center;
}

.detail-name-actor{
  color: rgba(255, 255, 255, 0.699);
}
.bi-search-heart:hover{
  color: rgb(179, 0, 54);
}
.bi-search-heart{
  margin-top: 5px;
  color: #ffffff;
  height: 30px !important;
    width: 30px !important;
}

.color-input {
color: black !important;
background-color: rgb(255, 255, 255) !important;
}

.bi-file-earmark-music{
  height: 30% !important;
    width: 30% !important;
    padding-bottom: 3rem;
    padding-top: 2rem;
    color: rgba(255, 255, 255, 0.39);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    
}

.invisible {
  visibility: hidden;
}

audio{
  border-radius: 20rem !important;
  /* background-image: linear-gradient(to top , rgb(255, 255, 255), rgb(255, 255, 255));  */
  background-color: rgb(255, 255, 255) !important;
  bottom: 0; 
  /* height: 10rem !important; */
  max-height: 10rem !important;
/* position: absolute;  */
right: 0; 
max-width: 100% !important;
/* width: 200rem !important; */
}
.container-images-detail{
  position:relative;
}
.dropdown-toggle{
  border-color: #ffffff00 !important;
  background-color: #ffffff00 !important;
  direction: ltr !important;
  text-align: left !important;
}
.detail-image-blure{
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* background-attachment: fixed !important;
  background-size: cover !important;  */
}

.detail-image-circle{
  box-shadow:5px 5px 40px rgb(0, 1, 10);
  position: absolute;
  max-width: 22rem !important;
  border-top-right-radius:20rem !important;
  border-bottom-right-radius:20rem !important;
  left: 50px;
  top: 3rem;
/* margin-top: 0rem !important; */
  border-radius: 50rem;

}
.detail-lyrics{
  line-height: 2;
  padding-top: 1rem;
}
.detail-shadow{
  padding-top: 2rem;
  padding-bottom: 1rem;
  box-shadow:5px 5px 40px rgb(3, 4, 14);;
  background-color: rgba(255, 250, 250, 0.212);
}
.bi-cloud-download:hover{
  color: rgb(75, 138, 211);
}
.bi-cloud-download{
  height: 30px !important;
    width: 30px !important;
    color: rgb(255, 249, 249);
}

.detail-element{

  padding-top: 2rem;
  padding-right:15rem;
}

.Tsong{
  border-radius: 20rem !important;
}

.navbar-brand{
  font-size: 2rem !important;
  color: rgb(255, 255, 255) !important;
}
.btn-danger{
  border-radius: 25rem;
  /* margin-left: 20%; */
  text-align: center;
  padding-bottom: 2rem;
  margin-top: -0.1rem;
  height:0rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.navbar-toggler-icon {
  background-image: none;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  border-radius: 5px;
}
.footer{
  padding-top: 1rem;
  text-align: center;
  color: rgba(238, 238, 238, 0);
}

.nav-link{
  color: rgb(255, 255, 255) !important;
}

.form-control{
  border-radius: 25rem;
  background-color: rgba(255, 255, 255, 0.623);
  color: #000000 !important;
  /* margin-right: -2rem !important; */
  
}
.navbar{
 background-color: rgb(4, 4, 39) !important;
}

body{
  background: rgb(2,0,24);
  background: linear-gradient(180deg, rgba(2,0,24,1) 0%, rgba(5,5,68,1) 43%, rgba(0,113,136,1) 100%); 
}

.navbar-nav {
  margin-left: 25rem;
}

.carousel {
  width: 1000px !important;
  margin: auto;
  margin-top: 2.5rem !important;
  border-radius: 50px  !important;
}

.card-box-detail{
  direction: rtl;
  /* background-color: rgba(34, 34, 33, 0.603); */
  /* border: solid $b rgba(#000, .2); */
}

.detail-whith{
  padding-top: 3rem;
  height: 35.4rem !important;
}

.d-block {
  border-radius: 50px  !important;
  height: 500px !important;
}

.btn-outline-success{
 background-color: rgb(179, 0, 54) !important;
 border-color: rgb(179, 0, 54) !important;
 color: rgb(255, 255, 255) !important;
 border-radius: 50px !important;
 padding-right: 20px !important;
 padding-left: 20px !important;
 margin-left: 20px;
}

.form-control{
  border-radius: 50px !important;
}

.card-text-fn{
font-size: 0.8rem !important;
color: #ffffff86 !important;
}

.card-text-group{
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}



.card-text{
  font-size: 1rem;
  color: #ffffff;
}

.card-download{
  color: #ffffffb4;
  font-size: 0.8rem;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 2rem;
  left: 0.7rem;
  right: 0.7rem;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .3s ease;
  /* background-color: rgba(255, 0, 76, 0.527); */
  background-image: linear-gradient(to top , rgb(0, 0, 0), rgba(38, 23, 105, 0.733));

  border-radius: 2rem;
}

.card-img-top-search:hover{
  background-color: rgba(255, 255, 255, 0.733);
  position: relative;
  height: auto;
  width: auto;
  border-radius: 2rem;
  transition: .3s ease;
}

.card-img-top-search{
  border-radius: 20rem;
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}







