#navbarSupportedContent{
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.tah2{
  color: #ffffff;
  padding-top: 2rem !important;
  margin-bottom: 2rem !important;
  text-align: center;
}

.Lsong{
  border-radius: 2rem !important;
}

.song-box{
  margin-top: 5rem !important;
  background-color: #e7d8d83a;
}

.card{
  background-color: rgba(245, 245, 220, 0) !important;
  border-color: rgba(245, 245, 220, 0) !important;
  color: #ffffff !important;
  padding-bottom: 30px;
}

.card-text-mini{
  margin-left: 10%;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 20px;
  padding-left: 20px;
  text-size-adjust: 80%;
  overflow: hidden;
}

.Tsong{
  border-radius: 20rem !important;
}

.navbar-brand{
  font-size: 2rem !important;
  color: rgb(255, 255, 255) !important;
}
.btn-danger{
  border-radius: 25rem;
  /* margin-left: 20%; */
  text-align: center;
  padding-bottom: 2rem;
  margin-top: -0.1rem;
  height:0rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.navbar-toggler-icon {
  background-image: none;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  border-radius: 5px;
}
.footer{
  padding-top: 1rem;
  text-align: center;
  color: rgba(238, 238, 238, 0);
}

.nav-link{
  color: rgb(255, 255, 255) !important;
}

.form-control{
  border-radius: 25rem;
  background-color: rgba(255, 255, 255, 0.623);
  color: #ffffff !important;
  /* margin-right: -2rem !important; */
  
}
.navbar{
 background-color: rgb(4, 4, 39) !important;
}

body{
  background: rgb(2,0,24);
  background: linear-gradient(180deg, rgba(2,0,24,1) 0%, rgba(5,5,68,1) 43%, rgba(0,113,136,1) 100%); 
}

.navbar-nav {
  margin-left: 25rem;
}

.carousel {
  width: 1000px !important;
  margin: auto;
  margin-top: 5rem !important;
  border-radius: 50px  !important;
}

.card-box-detail{
  direction: rtl;
  background-color: rgba(34, 34, 33, 0.603);
}

.detail-whith{
  padding-top: 3rem;
  height: 35.4rem !important;
}

.d-block {
  border-radius: 50px  !important;
  height: 500px !important;
}

.btn-outline-success{
 background-color: rgb(179, 0, 54) !important;
 border-color: rgb(179, 0, 54) !important;
 color: rgb(255, 255, 255) !important;
 border-radius: 50px !important;
 padding-right: 20px !important;
 padding-left: 20px !important;
}

.form-control{
  border-radius: 50px !important;
}

.card-text-fn{
font-size: 0.8rem !important;
color: #ffffff86 !important;
}

.card-text-group{
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}



.card-text{
  font-size: 1rem;
  color: #ffffff;
}

.card-download{
  color: #ffffffb4;
  font-size: 0.8rem;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 2rem;
  left: 0.7rem;
  right: 0.7rem;
  height: auto;
  width: auto;
  opacity: 0;
  transition: .3s ease;
  /* background-color: rgba(255, 0, 76, 0.527); */
  background-image: linear-gradient(to top , rgb(0, 0, 0), rgba(38, 23, 105, 0.733));

  border-radius: 2rem;
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}







